{% extends "base.html" %}

{% block content %}

    <div class="container">
        <div class="form-group">
            <label for="comment">Comments:</label>
            <textarea class="form-control" rows="5" id="comment-log" readonly></textarea>
        </div>

        <div class="form-group">
            <label for="input-box">InputBox:</label>
            <input type="text" class="form-control" id="input-box">
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script>
        var chatSocket = new WebSocket('ws://' + window.location.host + '/ws/chat/');

        var inputFieldText = $('#input-box').keypress(function (e) {

            if (e.which === 13) {
                var message = $('#input-box').val();
                // send message

                chatSocket.send(JSON.stringify({
                    'message': message
                }));

                console.log(message);

                $('#input-box').val('');
            }
        });

        chatSocket.onmessage = function (e) {
            var data = JSON.parse(e.data);
            var message = data['message'];
            var currentVal = $('#comment-log').val();
            $('#comment-log').val(currentVal + (message + '\n'));
        };

        chatSocket.onclose = function (e) {
            console.error('Chat socket closed ....' + e)
        }


    </script>
{% endblock %}
